// Background Cover
%bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&>img {
		display: none;
	}
}

.bg-cover {
	@extend %bg-cover;
}

%bg-primary {
	color: $white;
	background: $primary;
}

.bg-primary {
	@extend %bg-primary;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}

// Fonts
// %font-roboto {
//     font-family: $font-roboto;
// }
// .font-roboto {
//     @extend %font-roboto;
// }

// %font-open-sans {
//     font-family: $font-open-sans;
// }
// .font-open-sans {
//     @extend %font-open-sans;
// }

// Visibility
.hide-sm {
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

// List
ol {
	padding-left: 0.9375rem;
}

// Text
.text-transform-none {
	text-transform: none !important;
}

.text-underline {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

@for $i from 1 through 9 {
	.font-#{$i*100} {
		font-weight: $i * 100;
	}
}

.light-overlay {
	position: relative;
	z-index: 1;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba($black, .8);
		z-index: -1;
	}
}

.border-info {
	color: #000;
	line-height: 34px;
	position: relative;
	text-align: right;
	padding-right: 1rem;

	@include media-breakpoint-up(lg) {
		padding-right: 1.8125rem;
	}

	@include media-breakpoint-up(xl) {
		@include font-size(1.25rem);
	}

	&::after {
		position: absolute;
		content: '';
		right: 0;
		top: 0;
		bottom: 0;
		width: 7px;
		background: $bright-orange;
	}

}

.dark-bg {
	background: $black;
}

.bg-gray {
	background: #F4F4F4;
}