//tile-icon
.tile-icon {
    img {
        margin: 0 auto;
    }
}

//Gajendra

.section-title {
    color: $white;

    h1 {
        font-family: $font-oswald;
        font-weight: 600;


        @include media-breakpoint-up(xl) {
            @include font-size(4.625rem);
        }
    }

    &--alt {
        display: inline-block;
        color: $white;

        h2 {
            font-family: $font-oswald;
            font-weight: 600;
            transform: rotate(-90deg);
        }
    }
}

.two-col {
    &__content {

        @include media-breakpoint-up(xl) {
            @include font-size(1.25rem);
        }

        &-image {
            @include media-breakpoint-up(lg) {
                margin-right: -140px;
            }


            @include media-breakpoint-up(xl) {
                margin-right: -80px;
            }
        }
    }

    &__desc {
        padding: 0.5rem 0.5rem 0.5rem;
        padding-left: 1rem;

        @include media-breakpoint-up(lg) {
            padding-left: 1.8125rem;
            @include font-size(1.25rem);
        }
    }

    &__info {
        font-family: $font-roboto;
        font-weight: 300;
        color: $black;

        @include media-breakpoint-up(xl) {
            @include font-size(.9375rem);
            line-height: 1.625rem;
        }

        @include media-breakpoint-down(md) {
            text-align: center;
        }

        @include media-breakpoint-down(xs) {
            text-align: start;
        }

        .h4 {
            font-family: $font-oswald;

            @include media-breakpoint-up(xl) {
                @include font-size(1.5625rem);
                line-height: 2.3125rem;
            }
        }

        small {
            display: block;
            font-family: $font-oswald;
            font-weight: 300;
            @include font-size(.9375rem);

            @include media-breakpoint-up(xl) {
                line-height: 1.375rem;
            }

            i {
                margin-right: .5rem;
            }
        }
    }

    &__media {
        img {
            width: 100%;
        }
    }

}

.sec-history {
    &__desc {
        max-width: 900px;
        margin: 0 auto;
        text-align: start;

        @include media-breakpoint-up(md) {
            text-align: center;
        }

        h2 {
            color: $black;
            font-family: $font-oswald;
            font-weight: 500;
            line-height: 1.4;

            @include media-breakpoint-up(xl) {
                line-height: 4rem;
            }

            @include media-breakpoint-down(sm) {
                @include font-size(1.5rem)
            }
        }
    }
}

//tabs
.tabs {
    background-color: $light-gray-1;

    .nav {
        justify-content: space-between;
        border-bottom: none;
        border-radius: 0;

        &-item {
            // min-width: 419px;
            text-align: center;
            @include make-col(12);

            @include media-breakpoint-up(md) {
                @include make-col(3.9996);
            }
        }

        &-link {
            @include font-size(1.25rem);
            font-family: $font-oswald;
            font-weight: 500;
            color: $dark-gray-2;
            border-radius: 0;
            line-height: 37.05px;
            transition: all 0.3s;
            padding: 0.8rem;

            @include media-breakpoint-up(lg) {
                @include font-size(1.5625rem);
                padding: 1.2rem;
            }

            &:focus,
            &:hover {
                background-color: $red;
                color: $white;
            }

            &.active {
                background-color: $red;
                color: $white;
                position: relative;

                &::before {
                    @include media-breakpoint-up(md) {
                        position: absolute;
                        content: '';
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: -17px;
                        width: 43px;
                        height: 23px;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        border-top: 18px solid $red;
                    }
                }
            }
        }
    }
}

//counter-wrap
.counter-wrap {
    background-color: $black;
}

// contact-box {
    .bg {
        &-gray {
            background-color: $gray-200;
        }

        &-red {
            background-color: $red;
        }
    }
    .contact-box {
        padding: 38px 1rem;
        font-size: 1.875rem;
        font-family: "Oswald", sans-serif;
        font-weight: 200;

        @include media-breakpoint-up(lg) {
            padding: 3.125rem 1rem;
        }

        @include media-breakpoint-up(xl) {
            padding: 3.8125rem 1rem;
        }

        a {
            color: $dark-gray-4;

            &-hover {
                text-decoration: none;
                color: $red;
            }
        }

        &.bg-red {
            a {
            color: $white;

                &:hover {
                    color: $dark-blue;
                }
            }
        }
    }