.card-media {
    min-height: 350px;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @include media-breakpoint-up(md) {
        padding: 3rem 2rem;
        min-height: 368px;

    }

    @include media-breakpoint-up(lg) {
        padding: 4rem 2.5rem;
        min-height: 468px;

    }

    @include media-breakpoint-up(xxl) {
        padding: 5.6875rem 3.6875rem;
        min-height: 568px;
    }

    &__info {
        color: $white;
        line-height: 21.08px;
        @include font-size(0.75rem);

        h3 {
            font-family: $font-oswald;
            font-weight: 500;
            @include font-size(1.25rem);

            @include media-breakpoint-up(lg) {
                @include font-size(1.5625rem);
                margin-bottom: 2rem;
            }
        }
    }
}

//tile-icon
.tile-icon {
    img {
        margin: 0 auto;
    }
}

//Gajendra

.section-title {
    h1 {
        font-family: $font-oswald;
        font-weight: 600;
        color: $white;

        @include media-breakpoint-up(xl) {
            @include font-size(4.625rem);
        }
    }
}

.two-col {
    &__content {

        @include media-breakpoint-up(xl) {
            @include font-size(1.25rem);
        }

        &-image {
            @include media-breakpoint-up(lg) {
                margin-right: -140px;
            }


            @include media-breakpoint-up(xl) {
                margin-right: -80px;
            }
        }
    }

    &__desc {
        padding: 0.5rem 0.5rem 0.5rem;
        padding-left: 1rem;

        @include media-breakpoint-up(lg) {
            padding-left: 1.8125rem;
            @include font-size(1.25rem);
        }
    }

}

.sec-history {
    &__desc {
        max-width: 900px;
        margin: 0 auto;
        text-align: start;

        @include media-breakpoint-up(md) {
            text-align: center;
        }

        h2 {
            color: $black;
            font-family: $font-oswald;
            font-weight: 500;
            line-height: 1.4;

            @include media-breakpoint-up(xl) {
                line-height: 4rem;
            }

            @include media-breakpoint-down(sm) {
                @include font-size(1.5rem)
            }
        }
    }
}