//tile-icon
.tile-icon {
    img {
        margin: 0 auto;
    }
}

//Gajendra

.section-title {
    color: $white;

    h1 {
        font-family: $font-oswald;
        font-weight: 600;


        @include media-breakpoint-up(xl) {
            @include font-size(4.625rem);
        }
    }

    &--alt {
        color: $white;

        .h2 {
            font-family: $font-oswald;
            font-weight: 600;
            transform: rotate(-90deg);
        }
    }
}

.two-col {
    &__content {

        @include media-breakpoint-up(xl) {
            @include font-size(1.25rem);
        }

        &-image {
            @include media-breakpoint-up(lg) {
                margin-right: -140px;
            }


            @include media-breakpoint-up(xl) {
                margin-right: -80px;
            }
        }
    }

    &__desc {
        padding: 0.5rem 0.5rem 0.5rem;
        padding-left: 1rem;

        @include media-breakpoint-up(lg) {
            padding-left: 1.8125rem;
            @include font-size(1.25rem);
        }
    }

    &__info {
        font-family: $font-roboto;
        font-weight: 300;
        color: $black;

        @include media-breakpoint-up(xl) {
            @include font-size(.9375rem);
            line-height: 1.625rem;
        }

        @include media-breakpoint-down(md) {
            text-align: center;
        }

        @include media-breakpoint-down(xs) {
            text-align: start;
        }

        .h4 {
            font-family: $font-oswald;

            @include media-breakpoint-up(xl) {
                @include font-size(1.5625rem);
                line-height: 2.3125rem;
            }
        }

        small {
            display: block;
            font-family: $font-oswald;
            font-weight: 300;
            @include font-size(.9375rem);

            @include media-breakpoint-up(xl) {
                line-height: 1.375rem;
            }

            i {
                margin-right: .5rem;
            }
        }
    }

}

.sec-history {
    &__desc {
        max-width: 900px;
        margin: 0 auto;
        text-align: start;

        @include media-breakpoint-up(md) {
            text-align: center;
        }

        h2 {
            color: $black;
            font-family: $font-oswald;
            font-weight: 500;
            line-height: 1.4;

            @include media-breakpoint-up(xl) {
                line-height: 4rem;
            }

            @include media-breakpoint-down(sm) {
                @include font-size(1.5rem)
            }
        }
    }
}